<div class="content" ng-hide="showLoginButton" ng-controller="mainCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="content">
                        <p>{{ userData }}</p>
                        <hr>
                        <p>ตำแหน่ง : <strong>{{ userData.position.positionName }}</strong></p>
                        <p>กลุ่มสาระ : <strong>{{ userData.group.studyGroup }}</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="card ">
                    <div class="content">
                        <h3 class="title">สถานะการประเมิน</h3>
                        <p class="category">ประจำวันที่ <time>01/08/2560</time></p>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ที่</th>
                                    <th>ประเภทของแบบประเมิน</th>
                                    <th>สถานะ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>แบบประเมินผลการปฏิบัติงานของพนักงานส่วนท้องถิ่น</td>
                                    <td><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>แบบประเมินประสิทธิภาพและประสิทธิผลการปฏิบัติงาน</td>
                                    <td><i class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card ">
                    <div class="content">
                        <h3 class="title">การแจ้งเตือน</h3>
                        <p class="category">การแจ้งเตือนต่างๆจากผู้ดูแลระบบ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content" ng-hide="!showLoginButton">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="content">
                        Hello from the other side
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .fa-check {
        color: LIMEGREEN
    }
    
    .fa-circle-o-notch {
        color: orange
    }
</style>