<div class="content" ng-hide="showLoginButton" ng-controller="mainCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="content">
                        <h4>สวัสดี {{userDatas.firstName + " " + userDatas.lastName }}</h4>
                        <hr>
                        <h4>ตำแหน่ง : {{ userDatas.position.positionName }}</h4>
                        <h4>กลุ่มสาระ : {{ userDatas.group.subjectGroup }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="card ">
                    <div class="content">
                        <h3 class="title">การแจ้งเตือน</h3>
                        <p class="category">การแจ้งเตือนต่างๆจากผู้ดูแลระบบ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content" ng-hide="!showLoginButton">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="content">
                        ยังไม่รู้จะเอาอะไรใส่ดี -_-
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .fa-check {
        color: LIMEGREEN
    }
    
    .fa-circle-o-notch {
        color: orange
    }
</style>