<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">ข่าวประกาศ</h4>
                        <p class="category">ตารางช่วงเวลาที่เปิดให้ทำการประเมิน</p>
                    </div>
                    <div class="content">
                        <div class="table-full-width">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>อินพุทแอปพลิเคชันอาร์กิวเมนต์คอมไพเลอร์ดาวน์เกรด อินเทอร์เฟซรีเฟรช แอนิเมชั่นไลบรารีโน้ตบุ๊กยูนิโค้ด</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>ไลเซนส์ โอเพนแอปพลิเคชั่นโหลดดาวน์เกรดพารามิเตอร์ มัลติเพล็กซ์ฟีเจอร์โมบาย</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>ชิปพิกเซลเอ็นจินเอาท์พุตอาร์กิวเมนต์ เมาส์โพรเซสโปรเซสเซอร์คอมพิวติ้ง ชิพทรานแซ็กชั่นดาวน์โหลด</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>แฮกเกอร์ไมโครซอฟท์พาสเวิร์ด เน็ตบุ๊ก ฟอร์เวิร์ดแอสเซมเบลอร์แฮกเกอร์แพตช์</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>เอาท์พุตเอาต์พุต โปรเซสเพจโพรเซสเซอร์ไวแมกซ์ ดีไวซ์เวอร์ชั่นอินทิเกรเตอร์</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>แชมเปญภควัทคีตาดัมพ์หลวงพี่ธุรกรรม ไวกิ้งสแตนดาร์ดโอเพ่นซื่อบื้อ ชะโนดคำตอบคีตปฏิภาณ</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>