<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3>สถานะการประเมินของผู้ใช้งาน</h3>
                    </div>
                    <hr>
                    <div class="content" ng-controller="userEvalCtrl">
                        <ul class="nav nav-tabs">
                            <li><a href="/users">รายชื่อผู้ใช้งาน</a></li>
                            <li class="active"><a href="/users/ststatus">สถานะการประเมินของผู้ใช้งาน</a></li>
                            <li><a href="/addUser">เพิ่มข้อมูลผู้ใช้งาน</a></li>
                        </ul>
                        &nbsp;
                        <div class="content table-responsive table-full-width">
                            <table class="table tablhover tablstriped ">
                                <thead>
                                    <tr>
                                        <th style="width:5%;">ที่</th>
                                        <th style="width:15%;">
                                            <center>ชื่อ-นามสกุล</center>
                                        </th>
                                        <th style="width:20%;">
                                            <center>สถานะการประเมิน : แบบประเมินตนเอง</center>
                                        </th>
                                        <th style="width:20%;">
                                            <center>สถานะการประเมิน : แบบประเมินผู้อื่น</center>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="u in userEval | filter: isNotAdmin">
                                        <td style="width:5%;">{{$index+1}}</td>
                                        <td style="width:15%;">
                                            <center>
                                                {{u.firstName + " " + u.lastName}}</center>
                                        </td>
                                        <td style="width:20%;">
                                            <center>{{u.selftemplates[0].isEvaluated}}</center>
                                        </td>
                                        <td style="width:20%;">
                                            <center>{{u.othertemplates[0]}}</center>
                                        </td>
                                        <!-- ตรงนี้ต้อง filter เฉพาะรอบประเมินให้ได้ -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>