<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3>เพิ่มผู้ใช้งาน</h3>
                        <hr>
                        <a href="/users" class="btn btn-warning">กลับ</a>
                    </div>
                    <div class="content" ng-controller="usersCtrl">
                        <form ng-submit="createUser(userData)">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>ชื่อ</label>
                                        <input type="text" class="form-control" placeholder="ชื่อ" ng-model="userData.firstName" required>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>นามสกุล</label>
                                        <input type="text" class="form-control" placeholder="นามสกุล" ng-model="userData.lastName" required>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>ระดับของผู้ใช้งาน</label>
                                        <select type="text" class="form-control" placeholder="ระดับของผู้ใช้งาน" ng-model="userData.permission" required>
                                            <option value="" disabled>ระดับของผู้ใช้งาน</option>
                                            <option value="teacher">ครู</option>
                                            <option value="hr">หัวหน้าฝ่าย</option>
                                            <option value="director">ผู้อำนวยการ</option>
                                            <option value="admin">ผู้ดูแลระบบ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ชื่อผู้ใช้งาน</label>
                                        <input type="text" class="form-control" placeholder="ชื่อผู้ใช้งาน" ng-model="userData.username" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>รหัสผ่าน</label>
                                        <input type="password" class="form-control" placeholder="รหัสผ่าน" ng-model="userData.password" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ตำแหน่ง</label>
                                        <input type="text" class="form-control" placeholder="ตำแหน่ง" ng-model="userData.position.positionName" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>ระดับ</label>
                                        <input type="text" class="form-control" placeholder="ระดับ" ng-model="userData.position.positionLevel" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>ประเภทตำแหน่ง</label>
                                        <input type="text" class="form-control" placeholder="ประเภทตำแหน่ง" ng-model="userData.position.positionCategory" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>ตำแหน่งเลขที่</label>
                                        <input type="text" class="form-control" placeholder="ตำแหน่งเลขที่" ng-model="userData.position.positionNumber" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>สังกัด</label>
                                        <input type="text" class="form-control" placeholder="สังกัด" ng-model="userData.belongTo" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>กลุ่มสาระการเรียนรู้</label>
                                        <select ng-model="userData.group.subjectGroup" id="subjectGroup" class="form-control" required>
                                                <option value="" disabled>กลุ่มสาระการเรียนรู้</option>
                                                <option value="กลุ่มสาระการเรียนรู้ภาษาไทย">กลุ่มสาระการเรียนรู้ภาษาไทย</option>
                                                <option value="กลุ่มสาระการเรียนรู้คณิตศาสตร์">กลุ่มสาระการเรียนรู้คณิตศาสตร์</option>
                                                <option value="กลุ่มสาระการเรียนรู้วิทยาศาสตร์">กลุ่มสาระการเรียนรู้วิทยาศาสตร์</option>
                                                <option value="กลุ่มสาระการเรียนรู้สังคมศึกษา ศาสนา และวัฒนธรรม">กลุ่มสาระการเรียนรู้สังคมศึกษา ศาสนา และวัฒนธรรม</option>
                                                <option value="กลุ่มสาระการเรียนรู้สุขศึกษาและพลศึกษา">กลุ่มสาระการเรียนรู้สุขศึกษาและพลศึกษา</option>
                                                <option value="กลุ่มสาระการเรียนรู้ศิลปะ">กลุ่มสาระการเรียนรู้ศิลปะ</option>
                                                <option value="กลุ่มสาระการเรียนรู้การงานอาชีพและเทคโนโลยี">กลุ่มสาระการเรียนรู้การงานอาชีพและเทคโนโลยี</option>
                                                <option value="กลุ่มสาระการเรียนรู้ภาษาต่างประเทศ">กลุ่มสาระการเรียนรู้ภาษาต่างประเทศ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>กลุ่มสายงาน</label>
                                        <select ng-model="userData.group.workGroup" id="workGroup" class="form-control" required>
                                                <option value="" disabled>กลุ่มสายงาน</option>
                                                <option value="ฝ่ายบริหารวิชาการ">ฝ่ายบริหารวิชาการ</option>
                                                <option value="ฝ่ายงานบริหารทั่วไป">ฝ่ายงานบริหารทั่วไป</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>กลุ่มสายชั้น</label>
                                        <select ng-model="userData.group.classGroup" id="workGroup" class="form-control" required>
                                                <option value="" disabled>กลุ่มสายชั้น</option>
                                                <option value="มัธยมต้น">แผนกมัธยมศึกษาตอนต้น</option>
                                                <option value="มัธยมปลาย">แผนกมัธยมศึกษาตอนปลาย</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ตำแหน่งในกลุ่มสาระ</label>
                                        <select ng-model="userData.groupRole.subjectGroupRole" id="subjectGroupRole" class="form-control" required>
                                            <option value="" disabled>ตำแหน่งในกลุ่มสาระ</option>
                                            <option value="หัวหน้า">หัวหน้าฝ่าย</option>
                                            <option value="สมาชิก">สมาชิกฝ่าย</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ตำแหน่งในกลุ่มสายงาน</label>
                                        <select ng-model="userData.groupRole.workGroupRole" id="workGroupRole" class="form-control" required>
                                            <option value="">ตำแหน่งในกลุ่มสายงาน</option>
                                            <option value="หัวหน้า">หัวหน้าฝ่าย</option>
                                            <option value="สมาชิก">สมาชิกฝ่าย</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ตำแหน่งในกลุ่มสายชั้น</label>
                                        <select ng-model="userData.groupRole.classGroupRole" id="classGroupRole" class="form-control" required>
                                            <option value="">ตำแหน่งในกลุ่มสายชั้น</option>
                                            <option value="หัวหน้า">หัวหน้าฝ่าย</option>
                                            <option value="สมาชิก">สมาชิกฝ่าย</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-lg pull-right">บันทึกข้อมูล</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>