<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="header">
                        <h3>เพิ่มผู้ใช้งาน</h3>
                        <hr>
                        <a href="/users" class="btn btn-warning">กลับ</a>
                    </div>
                    <div class="content" ng-controller="usersCtrl">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ชื่อ</label>
                                        <input type="text" class="form-control" placeholder="ชื่อ">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>นามสกุล</label>
                                        <input type="text" class="form-control" placeholder="นามสกุล">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ชื่อผู้ใช้งาน</label>
                                        <input type="text" class="form-control" placeholder="ชื่อผู้ใช้งาน">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>รหัสผ่าน</label>
                                        <input type="text" class="form-control" placeholder="รหัสผ่าน">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ตำแหน่ง</label>
                                        <input type="text" class="form-control" placeholder="ตำแหน่ง">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>ระดับ</label>
                                        <input type="text" class="form-control" placeholder="ระดับ">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>ประเภทตำแหน่ง</label>
                                        <input type="text" class="form-control" placeholder="ประเภทตำแหน่ง">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>ตำแหน่งเลขที่</label>
                                        <input type="text" class="form-control" placeholder="ตำแหน่งเลขที่">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>สังกัด</label>
                                        <input type="text" class="form-control" placeholder="สังกัด">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>กลุ่มสาระ</label>
                                        <input type="text" class="form-control" placeholder="กลุ่มสาระ">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>กลุ่มสายงาน</label>
                                        <input type="text" class="form-control" placeholder="กลุ่มสายงาน">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>กลุ่มสายชั้น</label>
                                        <input type="text" class="form-control" placeholder="กลุ่มสายชั้น">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ตำแหน่งในกลุ่มสาระ</label>
                                        <input type="text" class="form-control" placeholder="ตำแหน่งในกลุ่มสาระ">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ตำแหน่งในกลุ่มสายงาน</label>
                                        <input type="text" class="form-control" placeholder="ตำแหน่งในกลุ่มสายงาน">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ตำแหน่งในกลุ่มสายชั้น</label>
                                        <input type="text" class="form-control" placeholder="ตำแหน่งในกลุ่มสายชั้น">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-lg pull-right">บันทึกข้อมูล</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>