<div class="content" ng-controller="checkScoreCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <center>
                            <h3>ผลการประเมินแบบประเมินผลการปฏิบัติงานของพนักงานส่วนท้องถิ่น</h3>
                            <p class="category">ประจำวันที่ {{presentDate}} รอบการประเมิน {{evalRound}}</p>
                        </center>
                    </div>
                    <hr>
                    <div class="content">

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <center>
                            <h3>ผลการประเมินแบบประเมินประสิทธิภาพและประสิทธิผลการปฏิบัติงาน</h3>
                            <p class="category">ประจำวันที่ {{presentDate}} รอบการประเมิน {{evalRound}}</p>
                        </center>
                    </div>
                    <hr>
                    <div class="content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>