<div class="content" ng-controller="checkScoreCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <center>
                            <h3>ผลการประเมินแบบประเมินผลการปฏิบัติงานของพนักงานส่วนท้องถิ่น</h3>
                            <p class="category">ประจำวันที่ {{presentDate}} รอบการประเมิน {{evalRound}}</p>
                        </center>
                    </div>
                    <hr>
                    <div class="content">
                        <center>
                            <h4>คุณได้คะแนนทั้งหมด</h4>
                            <h1> {{totalScore}}/{{totalWeight}}</h1>
                            <h2><span ng-show="totalScore >= 50" class="label label-success">ผ่าน</span></h2>
                            <h2><span ng-show="totalScore < 0 || !totalScore" class="label label-warning">ไม่ผ่าน</span></h2>
                        </center>
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <center>
                            <h3>ผลการประเมินแบบประเมินประสิทธิภาพและประสิทธิผลการปฏิบัติงาน</h3>
                            <p class="category">ประจำวันที่ {{presentDate}} รอบการประเมิน {{evalRound}}</p>
                        </center>
                    </div>
                    <hr>
                    <div class="content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>