<div class="content" ng-controller="checkScoreCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <center>
                            <h3>ผลการประเมินแบบประเมินผลการปฏิบัติงานของพนักงานส่วนท้องถิ่น</h3>
                            <p class="category">ประจำวันที่ {{presentDate}} รอบการประเมิน {{evalRound}}</p>
                        </center>
                    </div>
                    <hr>
                    <div class="content">
                        <center>
                            <h4>คุณได้คะแนนทั้งหมด</h4>
                            <h1> {{STtotalScore}}/{{STtotalWeight}}</h1>
                            <h2><span ng-show="STtotalScore >= 50 && selfTemplateScore.isVerified == true" class="label label-success">ผ่านการอนุมัติ</span></h2>
                            <h2><span ng-show="STtotalScore >= 50 && selfTemplateScore.isVerified == false" class="label label-warning">รอการอนุมัติ</span></h2>
                            <h2><span ng-show="STtotalScore < 0 || !STtotalScore" class="label label-warning">ยังไม่ได้ทำแบบประเมิน</span></h2>
                        </center>
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <center>
                            <h3>ผลการประเมินแบบประเมินประสิทธิภาพและประสิทธิผลการปฏิบัติงาน</h3>
                            <p class="category">ประจำวันที่ {{presentDate}} รอบการประเมิน {{evalRound}}</p>
                        </center>
                    </div>
                    <hr>
                    <div class="content">
                        <center>
                            <h4>คุณได้คะแนนทั้งหมด</h4>
                            <h1 ng-show="!OTtotalScore"> กำลังเก็บรวบรวมคะแนน.. </h1>
                            <h1 ng-show="OTtotalScore"> {{OTtotalScore}}/30 </h1>
                            <h2><span ng-show="OTtotalScore" class="label label-success">คะแนนครบแล้ว</span></h2>
                            <h2><span ng-show="!OTtotalScore" class="label label-warning">คะแนนยังไม่ครบ</span></h2>
                        </center>
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="header">
                        <center>
                            <h2>คะแนนรวม</h2>
                            <p class="category">คะแนนรวมต้องมีจำนวนรวมกันมากกว่า 70 ขึ้นไปจึงจะผ่านการประเมินในรอบนั้นๆ</p>
                        </center>
                        <div class="content">
                            <center>
                                <h1>{{STtotalScore + OTtotalScore}}/100</h1>
                                <h2><span ng-show="STtotalScore + OTtotalScore >= 70" class="label label-success">ผ่าน</span></h2>
                                <h2><span ng-show="STtotalScore + OTtotalScore < 70 || !STtotalScore || !OTtotalScore " class="label label-warning">ไม่ผ่าน</span></h2>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>