<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="content">
                        <div class="content table-responsive table-full-width">
                            <div class="header">
                                <h3 align="center">กรุณากรอกชื่อผู้ใช้งานและรหัสผ่าน</h3>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Username:</label>
                                        <input type="text" class="form-control input-lg" placeholder="ชื่อผู้ใช้งาน" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Password:</label>
                                        <input type="password" class="form-control input-lg" placeholder="รหัสผ่าน" required="required">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="เข้าสู่ระบบ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>