<div class="content" ng-controller="mainCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <div class="content table-responsive table-full-width">
                            <div class="header">
                                <center><img id="spinner" ng-src="assets/img/spinner.gif"></center>
                                <h3 align="center">กำลังออกจากระบบ..</h3>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>