<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3>ผู้ใช้งาน</h3>
                        <hr>
                        <a href="/addUser" class="btn btn-success">เพิ่มผู้ใช้งาน</a>
                    </div>
                    <div class="content" ng-controller="usersCtrl">
                        <div class="content table-responsive table-full-width">
                            <table class="table tablhover tablstriped ">
                                <thead>
                                    <tr>
                                        <th>ที่</th>
                                        <th>ชื่อ-นามสกุล</th>
                                        <th>ชื่อผู้ใช้งาน</th>
                                        <th>ตำแหน่ง</th>
                                        <th>ระดับ</th>
                                        <th>ประเภทตำแหน่ง</th>
                                        <th>ตำแหน่งเลขที่</th>
                                        <th>สังกัด</th>
                                        <th>กลุ่มสาระ</th>
                                        <th>กลุ่มสายงาน</th>
                                        <th>กลุ่มสายชั้น</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="u in users">
                                        <td>{{$index+1}}</td>
                                        <td>{{u.firstName + " " + u.lastName}}</td>
                                        <td>{{u.username}}</td>
                                        <td>{{u.position}}</td>
                                        <td>{{u.positionLevel}}</td>
                                        <td>{{u.positionCategory}}</td>
                                        <td>{{u.positionNumber}}</td>
                                        <td>{{u.belongTo}}</td>
                                        <td>{{u.subjectGroupRole + ", " + u.subjectGroup}}</td>
                                        <td>{{u.workGroupRole + ", " + u.workGroup}}</td>
                                        <td>{{u.classGroupRole + ", " + u.classGroup}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>