<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title">รายชื่อผู้ใช้งาน</h3>
                    </div>
                    <hr>
                    <div class="content" ng-controller="usersCtrl">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="/users">รายชื่อผู้ใช้งาน</a></li>
                            <li><a href="/users/evalstatus">สถานะการประเมินของผู้ใช้งาน</a></li>
                            <li><a href="/addUser">เพิ่มข้อมูลผู้ใช้งาน</a></li>
                        </ul>
                        &nbsp;
                        <div class="content table-responsive table-full-width">
                            <table class="table tablhover tablstriped ">
                                <thead>
                                    <tr>
                                        <th>ที่</th>
                                        <th>
                                            <center>ชื่อ-นามสกุล</center>
                                        </th>
                                        <th>
                                            <center>ชื่อผู้ใช้งาน</center>
                                        </th>
                                        <th>
                                            <center>ตำแหน่ง</center>
                                        </th>
                                        <th>
                                            <center>ระดับ</center>
                                        </th>
                                        <th>
                                            <center>ประเภทตำแหน่ง</center>
                                        </th>
                                        <th>
                                            <center>ตำแหน่งเลขที่</center>
                                        </th>
                                        <th>
                                            <center>สังกัด</center>
                                        </th>
                                        <th>
                                            <center>กลุ่มสาระการเรียนรู้</center>
                                        </th>
                                        <th>
                                            <center>กลุ่มสายงาน</center>
                                        </th>
                                        <th>
                                            <center>กลุ่มสายชั้น</center>
                                        </th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="u in users | filter: isNotAdmin">
                                        <td>
                                            <center>{{$index+1}}</center>
                                        </td>
                                        <td>
                                            <center>{{u.firstName + " " + u.lastName}}</center>
                                        </td>
                                        <td>
                                            <center>{{u.username}}</center>
                                        </td>
                                        <td>
                                            <center>{{u.position.positionName}}</center>
                                        </td>
                                        <td>
                                            <center>{{u.position.positionLevel}}</center>
                                        </td>
                                        <td>
                                            <center>{{u.position.positionCategory}}</center>
                                        </td>
                                        <td>
                                            <center>{{u.position.positionNumber}}</center>
                                        </td>
                                        <td>
                                            <center>{{u.belongTo}}</center>
                                        </td>
                                        <td>
                                            <center>{{u.groupRole.subjectGroupRole + u.group.subjectGroup}}</center>
                                        </td>
                                        <td>
                                            <center>{{u.groupRole.workGroupRole + u.group.workGroup}}</center>
                                        </td>
                                        <td>
                                            <center>{{u.groupRole.classGroupRole + u.group.classGroup}}</center>
                                        </td>
                                        <td>
                                            <button class="btn btn-info" type="button" data-toggle="modal" data-target="#userEdit" ng-click="selectUser(u._id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" ng-really-message="แน่ใจหรือไม่ ?" ng-really-click="deleteUser(u._id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>