<div class="content" ng-controller="verifyEvalCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title">ตรวจสอบแบบประเมินผลการปฏิบัติงานของพนักงานส่วนท้องถิ่น</h3>
                        <p class="category">ประจำรอบการประเมินที่ {{ evalRound }} &nbsp; ประจำวันที่ {{ presentDate }}</p>
                        <p class="category">* ตรวจสอบแบบประเมินประจำหน่วยงานของตนเอง</p>
                    </div>
                    <hr>
                    <div class="content">
                        <div class="content table-responsive table-full-width">
                            <table class="table tablhover tablstriped ">
                                <thead>
                                    <tr>
                                        <th style="width:5%;">
                                            <center>
                                                <h4>ที่</h4>
                                            </center>
                                        </th>
                                        <th style="width:15%;">
                                            <center>
                                                <h4>ชื่อ-นามสกุล</h4>
                                            </center>
                                        </th>
                                        <th style="width:20%;">
                                            <center>
                                                <h4>สถานะ</h4>
                                            </center>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="u in userVerify | filter: isNotAdmin">
                                        <td style="width:5%;">
                                            <center>
                                                <h4>{{$index+1}}</h4>
                                            </center>
                                        </td>
                                        <td style="width:15%;">
                                            <center>
                                                <h4>{{u.firstName + " " + u.lastName}}</h4>
                                            </center>
                                        </td>
                                        <td style="width:20%;" ng-show="u.selftemplates[0]">
                                            <center>
                                                <h4>
                                                    <a href="/users/checkeval/{{ u.selftemplates[0]._id }} ">
                                                        <button type="button" class="btn btn-info"><i class="fa fa-file-text"></i> รอการตรวจสอบผลการประเมิน</button>
                                                    </a>
                                                </h4>
                                            </center>
                                        </td>
                                        <td style="width:20%;" ng-show="!u.selftemplates[0]">
                                            <center>
                                                <h4>
                                                    <button type="button" class="btn btn-warning"><i class="fa fa-spinner"></i> ยังไม่ได้ส่งแบบประเมิน</button>
                                                </h4>
                                            </center>
                                        </td>
                                        <!-- ตรงนี้ต้อง filter เฉพาะรอบประเมินให้ได้ เอาเท่านี้ก่อนละกัน เดี๋ยวตื่นมาทำใหม่ -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>