<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <ol class="breadcrumb">
                            <li><a href="/evalforms">แบบประเมินทั้งหมด</a></li>
                            <li class="active">เพิ่มแบบประเมิน</li>
                        </ol>
                    </div>
                <div class="content">
                    <div class="header">
                        <h4 class="title">เพิ่มหัวข้อการประเมิน</h4>
                    </div>
                        <div class="content">
                            <form ng-submit="add.addEvalform(ef);">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ประเภทของแบบประเมิน</label>
                                            <select type="text" class="form-control" placeholder="กรุณาเลือกประเภทของแบบประเมิน" ng-model="add.ef.evalFormType">
                                                <option>แบบประเมินประสิทธิภาพและประสิทธิผลการปฏิบัติงาน</option>
                                                <option>แบบประเมินผลการปฏิบัติงานของพนักงานส่วนท้องถิ่น ( ประเมินตนเอง )</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ตัวบ่งชี้การประเมิน</label>
                                            <textarea rows="4" class="form-control" placeholder="กรุณากรอกตัวบ่งชี้การประเมิน" ng-model="add.ef.evalTopic"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>เกณฑ์การพิจารณา</label>
                                            <textarea rows="4" class="form-control" placeholder="กรุณากรอกเกณฑ์การพิจารณา" ng-model="add.ef.evalCriteria"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>น้ำหนักคะแนน</label>
                                                <select class="form-control" id="evalWeight" placeholder="กรุณาเลือกน้ำหนักคะแนนของแบบประเมิน" ng-model="add.ef.evalWeight">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>
                                                    <option>10</option>
                                                </select>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-info pull-right">เพิ่มหัวข้อการประเมิน</button>
                                <a href="/evalforms" type="button" class="btn btn-danger pull-right">ยกเลิก</a>
                                <div class="clearfix"></div>

                            </form>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
