<div class="content" ng-controller="classGroupCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title">แบบประเมินประสิทธิภาพและประสิทธิผลการปฏิบัติงาน</h3>
                        <p class="category">ประจำรอบการประเมินที่ {{ evalRound }} &nbsp; ประจำเดือนที่ {{ getMonth }}</p>
                        <p class="category">* แบบประเมินสมาชิกภายในหน่วยงาน</p>
                    </div>
                    <hr>
                    <div class="content">
                        <ul class="nav nav-tabs">
                            <li><a href="/othertemps/subjectGroup">กลุ่มสาระการเรียนรู้</a></li>
                            <li><a href="/othertemps/workGroup">กลุ่มสายงาน</a></li>
                            <li class="active"><a href="/othertemps/classGroup">กลุ่มสายชั้น</a></li>
                        </ul>
                        &nbsp;
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover">
                                <thead>
                                    <th>ที่</th>
                                    <th>ชื่อ-นามสกุล ผู้รับการประเมิน</th>
                                    <th>
                                        <center>กลุ่มสายชั้น</center>
                                    </th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="o in othertemplateData | filter: undefind || isNotAdmin">
                                        <td>{{$index + 1}}</td>
                                        <td>{{o.firstName}} {{o.lastName}} </td>
                                        <td>
                                            <center>{{o.group.classGroup}}</center>
                                        </td>
                                        <td ng-show="o.othertemplates.length == 0">
                                            <center>
                                                <a href="/othertemp/classGroup/{{ o._id }}">
                                                    <button type="button" class="btn btn-info btn-block">ประเมิน</button>
                                                </a>
                                            </center>
                                        </td>
                                        <td ng-show="o.othertemplates.length == 1">
                                            <center>
                                                <button type="button" class="btn btn-success btn-block">ประเมินแล้ว</button>
                                            </center>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>