<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title">แบบประเมินประสิทธิภาพและประสิทธิผลการปฏิบัติงาน</h3>
                    </div>
                    <hr>
                    <div class="content" ng-controller="workGroupCtrl">
                        <ul class="nav nav-tabs">
                            <li><a href="/othertemps/subjectGroup">กลุ่มสาระการเรียนรู้</a></li>
                            <li class="active"><a href="/othertemps/workGroup">กลุ่มสายงาน</a></li>
                            <li><a href="/othertemps/classGroup">กลุ่มสายชั้น</a></li>
                        </ul>
                        &nbsp;
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover">
                                <thead>
                                    <th>ที่</th>
                                    <th>ชื่อ-นามสกุล ผู้รับการประเมิน</th>
                                    <th>กลุ่มสายงาน</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="o in othertemplateData | filter: undefind || isNotAdmin || isNotYou">
                                        <td>{{$index + 1}}</td>
                                        <td>{{o.firstName}} {{o.lastName}} </td>
                                        <td>{{o.group.workGroup}}</td>
                                        <td>
                                            <!-- ตรงนี้อาจจะใช้ ng-show คอยดัก ทำปุ่มก่อนละกัน -->
                                            <a href="/othertemp/{{ o._id }}">
                                                <button type="button" class="btn btn-info btn-block">ประเมิน</button>
                                            </a>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>