<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <ol class="breadcrumb">
                            <li><a href="/evalforms">แบบประเมิน</a></li>
                            <li><a href="/selfevals">แบบประเมินผลการปฏิบัติงานของพนักงานส่วนท้องถิ่น</a></li>
                            <li class="active">แบบประเมินประสิทธิภาพและประสิทธิผลการปฏิบัติงาน</li>
                        </ol>
                    </div>
                <div class="content" ng-controller="AppCtrl">
                    <div class="header">
                        <h4 class="title">แบบประเมินประสิทธิภาพและประสิทธิผลการปฏิบัติงาน</h4>
                    </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>ตัวบ่งชี้การประเมิน</th>
                                    <th>น้ำหนักคะแนน</th>
                                    <th>เกณฑ์การพิจารณา</th>
                                    <th>การกระทำ</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="ef in evalforms.evalforms">
                                <td>{{ef.evalFormType}}</td>
                                <td>{{ef.evalTopic}}</td>
                                <td>{{ef.evalWeight}}</td>
                                <td>{{ef.evalCriteria}}</td>
                                <td>
                                    <!-- edit -->
                                    <a href="/edit/{{ef._id}}">
                                        <button type="button" class="btn btn-warning" ng-show="evalforms.editAndDeleteAccess">แก้ไขหัวข้อการประเมิน</button>
                                    </a>
                                    <!-- delete -->
                                        <button type="button" class="btn btn-danger" ng-show="evalforms.editAndDeleteAccess" ng-click="evalforms.deleteEvalForms(ef._id);">ลบหัวข้อการประเมิน</button>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>

                    <div class="header">
                        <h4 class="title">แบบประเมินผลการปฏิบัติงานของพนักงานส่วนท้องถิ่น ( ประเมินตนเอง )</h4>
                    </div>
                <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                              <tr>
                                <th>ตัวบ่งชี้การประเมิน</th>
                                <th>น้ำหนักคะแนน</th>
                                <th>เกณฑ์การพิจารณา</th>
                                <th>การกระทำ</th>
                              </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="evalforms in evalform.data">
                              <td>{{evalforms.evalFormType}}</td>
                              <td>{{evalforms.evalFormYear}}</td>
                              <td>{{evalforms.evalTopic}}</td>
                              <td>{{evalforms.evalWeight}}</td>
                              <td>{{evalforms.evalCriteria}}</td>
                              <td><button class="btn btn-danger" ng-click="remove(evalforms._id)">ลบหัวข้อการประเมิน</button></td>
                              <td><button class="btn btn-warning" ng-click="edit(evalforms._id)">แก้ไขหัวข้อการประเมิน</button></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>         
                </div>
            </div>
        </div>
    </div>
</div>
</div>


