<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title">แบบประเมินประสิทธิภาพและประสิทธิผลการปฏิบัติงาน</h3>
                        <p class="category">บัลลาสต์เทควันโดโรแมนติกฟินิกซ์ เทวาธิราชเนิร์สเซอรี่เพลซ รีเสิร์ชแพนดา พงษ์สเก็ตช์เอสเปรสโซนอมินีวาซาบิ แอปเปิลกิมจิสติ๊กเกอร์ลามะเพรียวบาง เบอร์รีละอ่อน สตีลเกรย์อัตลักษณ์ ติงต๊อง เนิร์สเซอรี่ แพทเทิร์นเปียโน คลาสสิกอิกัวนาบึ้มแพตเทิร์นวีไอพี
                            ดยุคฮากกาดีพาร์ทเมนต์ เทียมทานสเตชันซูเปอร์ โต๋เต๋หงวนซัพพลายคอลเล็กชั่นซิม เปียโน แอ็คชั่น</p>
                    </div>
                    <hr>
                    <div class="content" ng-controller="othertempsCtrl">
                        <ul class="nav nav-tabs">
                            <li><a href="/othertemps/subjectGroup">กลุ่มสาระ</a></li>
                            <li class="active"><a href="/othertemps/workGroup">กลุ่มสายงาน</a></li>
                            <li><a href="/othertemps/classGroup">กลุ่มสายชั้น</a></li>
                        </ul>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover">
                                <thead>
                                    <th>ที่</th>
                                    <th>ชื่อ-นามสกุล ผู้รับการประเมิน</th>
                                    <th>วันที่เริ่มทำแบบประเมิน</th>
                                    <th>วันที่อัพเดตแบบประเมินครั้งล่าสุด</th>
                                    <th width="3%"></th>
                                    <th width="3%"></th>
                                    <th width="3%"></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td width="3%"></td>
                                        <td width="3%"></td>
                                        <td width="3%"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <div align="center">
                                <button type="button" class="btn btn-success btn-lg">เริ่มทำแบบประเมิน</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>