<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title">แบบประเมินประสิทธิภาพและประสิทธิผลการปฏิบัติงาน</h3>
                    </div>
                    <hr>
                    <div class="content" ng-controller="othertempsCtrl">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="/othertemps/subjectGroup">กลุ่มสาระการเรียนรู้</a></li>
                            <li><a href="/othertemps/workGroup">กลุ่มสายงาน</a></li>
                            <li><a href="/othertemps/classGroup">กลุ่มสายชั้น</a></li>
                        </ul>
                        &nbsp;
                        <div class="col-xs-12" align="center">
                            <div class="col-xs-4">
                                <p>กลุ่มสาระการเรียนรู้</p>
                                <select ng-model="query" class="form-control">
                                        <option value="">แสดงทั้งหมด</option>
                                        <option value="กลุ่มสาระการเรียนรู้ภาษาไทย">กลุ่มสาระการเรียนรู้ภาษาไทย</option>
                                        <option value="กลุ่มสาระการเรียนรู้คณิตศาสตร์">กลุ่มสาระการเรียนรู้คณิตศาสตร์</option>
                                        <option value="กลุ่มสาระการเรียนรู้วิทยาศาสตร์">กลุ่มสาระการเรียนรู้วิทยาศาสตร์</option>
                                        <option value="กลุ่มสาระการเรียนรู้สังคมศึกษา ศาสนา และวัฒนธรรม">กลุ่มสาระการเรียนรู้สังคมศึกษา ศาสนา และวัฒนธรรม</option>
                                        <option value="กลุ่มสาระการเรียนรู้สุขศึกษาและพลศึกษา">กลุ่มสาระการเรียนรู้สุขศึกษาและพลศึกษา</option>
                                        <option value="กลุ่มสาระการเรียนรู้ศิลปะ">กลุ่มสาระการเรียนรู้ศิลปะ</option>
                                        <option value="กลุ่มสาระการเรียนรู้การงานอาชีพและเทคโนโลยี">กลุ่มสาระการเรียนรู้การงานอาชีพและเทคโนโลยี</option>
                                        <option value="กลุ่มสาระการเรียนรู้ภาษาต่างประเทศ">กลุ่มสาระการเรียนรู้ภาษาต่างประเทศ</option>
                                    </select>
                            </div>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover">
                                <thead>
                                    <th>ที่</th>
                                    <th>ชื่อ-นามสกุล ผู้รับการประเมิน</th>
                                    <th>กลุ่มสาระ</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="o in othertemplateData | filter: query || undefind || isNotAdmin">
                                        <td>{{$index + 1}}</td>
                                        <td>{{o.firstName}} {{o.lastName}} </td>
                                        <td>{{o.group.subjectGroup}}</td>
                                        <td>
                                            <!-- ตรงนี้อาจจะใช้ ng-show คอยดัก ทำปุ่มก่อนละกัน -->
                                            <a href="/othertemp/{{ o.username }}">
                                                <button type="button" class="btn btn-info btn-block">ประเมิน</button>
                                            </a>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>