<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <ol class="breadcrumb">
                            <li><a href="/evalforms">แบบประเมิน</a></li>
                            <li class="active">แบบประเมินผลการปฏิบัติงานของพนักงานส่วนท้องถิ่น</li>
                            <li><a href="/othertemps">แบบประเมินประสิทธิภาพและประสิทธิผลการปฏิบัติงาน</a></li>
                        </ol>
                    </div>
                <div class="content" ng-controller="selftempsCtrl">
                    <div class="content table-responsive table-full-width">
                        <ul class="list-group" ng-repeat="s in selftemps.data">
                            <li class="list-group-item">
                            <h4>{{s.self_template.templateName}}</h4>
                                <button type="button" ng-click="stCtrl.clone();" class="btn btn-info">ทำแบบประเมิน</button>
                                <button type="button" ng-click="" class="btn btn-success">ยืนยันแบบประเมิน</button>
                                <a href="/selfeval/{{s._id}}" class="btn btn-primary" role="button">Link Button</a>
                            </li>
                        </ul>
                        </div>         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


