<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title">แบบประเมินผลการปฏิบัติงานของพนักงานส่วนท้องถิ่น</h3>
                    </div>
                    <hr>
                    <div class="content" ng-controller="selftempsCtrl">
                        <div class="col-xs-12" align="center">
                            <div class="col-xs-12">
                                <h4>ประจำรอบการประเมินที่ : {{ evalRound }} </h4>
                            </div>
                        </div>
                        <div class="content table-responsive table-full-width ">
                            <table class="table table-hover ">
                                <thead>
                                    <th>ที่</th>
                                    <th>รอบการประเมิน</th>
                                    <th style="width:10%;"></th>
                                    <th style="width:10%;"></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="s in selftemplateData">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ s.timestamp.evalRound }}</td>
                                        <td style="width:10%;">
                                            <a href="/selfscores/{{ s._id }} ">
                                                <button type="button" class="btn btn-info"><i class="fa fa-file-text" aria-hidden="true"></i> ดูผลการประเมิน</button>
                                            </a>
                                        </td>
                                        <td style="width:10%;">
                                            <a href="/selftemp/{{ s._id }}">
                                                <button type="button" class="btn btn-primary"><i class="fa fa-file-text" aria-hidden="true"></i> แก้ไขแบบประเมิน</button>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <div align="center ">
                                <button id="createBtn " ng-click="clone() " type="button " class="btn btn-success btn-lg" ng-show="showCreateButton">เริ่มทำแบบประเมิน</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>