<div class="content">
    <div class="containefluid">
        <div class="row">
            <div class="com12">
                <div class="card">
                    <div class="header">
                    </div>
                    <div class="content" ng-controller="selfevalCtrl">
                        <div class="content tablresponsive tablfulwidth">
                            <table class="table tablhover tablstriped ">
                                <thead>
                                    <tr>
                                        <th>ที่</th>
                                        <th class="col-md-4 ">หัวข้อการประเมิน</th>
                                        <th class="col-md-1 ">น้ำหนักคะแนน</th>
                                        <th class="col-md-1 ">ผลการประเมิน</th>
                                        <th class="col-md-6 ">เกณฑ์การพิจารณา</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4>{{data.data.self_template.sectionGroup[0].topic}}</h4>
                                        </td>
                                        <td>
                                            <h4>{{data.data.self_template.sectionGroup[0].choiceHeader}}</h4>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <!-- Choice group list 1 -->
                                    <tr>
                                        <td><b>{{data.data.self_template.sectionGroup[0].choiceGroupList[0].groupNumber}}</b></td>
                                        <td><b>{{data.data.self_template.sectionGroup[0].choiceGroupList[0].groupName}}</b></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <!-- question 1.1 -->
                                    <tr ng-repeat="s in data.data.self_template.sectionGroup[0].choiceGroupList[0].choiceList">
                                        <td>{{s.rowNumber}}</td>
                                        <td>{{s.evalTopic}}</td>
                                        <td align="center">{{s.evalWeight}}</td>
                                        <td>{{s.score}}</td>
                                        <td>{{s.evalCriteria}}</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <!-- Choice group list 2 -->
                                    <tr>
                                        <td><b>{{data.data.self_template.sectionGroup[0].choiceGroupList[1].groupNumber}}</b></td>
                                        <td><b>{{data.data.self_template.sectionGroup[0].choiceGroupList[1].groupName}}</b></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <!-- question 1.1 -->
                                    <tr ng-repeat="s in data.data.self_template.sectionGroup[0].choiceGroupList[1].choiceList">
                                        <td>{{s.rowNumber}}</td>
                                        <td>{{s.evalTopic}}</td>
                                        <td align="center">{{s.evalWeight}}</td>
                                        <td>{{s.score}}</td>
                                        <td>{{s.evalCriteria}}</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <!-- Choice group list 3 -->
                                    <tr>
                                        <td><b>{{data.data.self_template.sectionGroup[0].choiceGroupList[2].groupNumber}}</b></td>
                                        <td><b>{{data.data.self_template.sectionGroup[0].choiceGroupList[2].groupName}}</b></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <!-- question 1.1 -->
                                    <tr ng-repeat="s in data.data.self_template.sectionGroup[0].choiceGroupList[2].choiceList">
                                        <td>{{s.rowNumber}}</td>
                                        <td>{{s.evalTopic}}</td>
                                        <td align="center">{{s.evalWeight}}</td>
                                        <td>{{s.score}}</td>
                                        <td>{{s.evalCriteria}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button ng-click="" class="btn btn-block btn-lg btn-primary">ยืนยันผลการประเมิน</button>
                    </div>
                </div>
            </div>
        </div>
    </div>