<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <ol class="breadcrumb">
                            <li><a href="/evalforms">แบบประเมิน</a></li>
                            <li class="active">แบบประเมินผลการปฏิบัติงานของพนักงานส่วนท้องถิ่น</li>
                            <li><a href="/otherevals">แบบประเมินประสิทธิภาพและประสิทธิผลการปฏิบัติงาน</a></li>
                        </ol>
                    </div>
                <div class="content" ng-controller="selftempsCtrl">
                    <div class="header">
                        <h4 class="title">แบบประเมินผลการปฏิบัติงานของพนักงานส่วนท้องถิ่น</h4>
                    </div>
                <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                              <tr>
                                <th>ตัวบ่งชี้การประเมิน</th>
                                <th>น้ำหนักคะแนน</th>
                                <th>คะแนนการประเมิน</th>
                                <th>เกณฑ์การพิจารณา</th>
                              </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="st in selftemps.data">
                              <td>{{st.self_template.sectionGroup[0].choiceGroupList[0].groupNumber}}</td>
                              <td>{{st.self_template.sectionGroup[0].choiceGroupList[0].groupName}}</td>
                              <td></td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>         
                </div>
            </div>
        </div>
    </div>
</div>
</div>


