<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title">แบบประเมินผลการปฏิบัติงานของพนักงานส่วนท้องถิ่น</h3>
                        <p class="category">บัลลาสต์เทควันโดโรแมนติกฟินิกซ์ เทวาธิราชเนิร์สเซอรี่เพลซ รีเสิร์ชแพนดา พงษ์สเก็ตช์เอสเปรสโซนอมินีวาซาบิ แอปเปิลกิมจิสติ๊กเกอร์ลามะเพรียวบาง เบอร์รีละอ่อน สตีลเกรย์อัตลักษณ์ ติงต๊อง เนิร์สเซอรี่ แพทเทิร์นเปียโน คลาสสิกอิกัวนาบึ้มแพตเทิร์นวีไอพี
                            ดยุคฮากกาดีพาร์ทเมนต์ เทียมทานสเตชันซูเปอร์ โต๋เต๋หงวนซัพพลายคอลเล็กชั่นซิม เปียโน แอ็คชั่น</p>
                    </div>
                    <hr>
                    <div class="content" ng-controller="selftempsCtrl">
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover">
                                <thead>
                                    <th>ที่</th>
                                    <th>รอบการประเมิน</th>
                                    <th>วันที่เริ่มทำแบบประเมิน</th>
                                    <th>วันที่อัพเดตแบบประเมินครั้งล่าสุด</th>
                                    <th width="3%"></th>
                                    <th width="3%"></th>
                                    <th width="3%"></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>1/2360</td>
                                        <td>01/08/2360</td>
                                        <td>01/08/2360</td>
                                        <td width="3%"><button type="button" class="btn btn-warning"><i class="fa fa-cog"></i> แก้ไขแบบประเมิน</button></td>
                                        <td width="3%"><button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> ลบแบบประเมิน</button></td>
                                        <td width="3%"><button type="button" class="btn btn-primary"><i class="fa fa-check"></i> ยืนยันแบบประเมิน</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <div align="center">
                                <button type="button" class="btn btn-success btn-lg">เริ่มทำแบบประเมิน</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>